
.contactPage {

  @include rem(font-size, 1.4rem);

  .contactAside{

    h4{

      font-family: $fontHighlight;
      color: $grey;
    }

    p{
      margin: 0.5rem 0 1rem 0;

       a {

         margin-right: 15px;
       }

      i {

        margin-right: 15px;
      }
    }
  }

  .contactheading {

    padding: 10px;
    background-color: $blue;
    margin-bottom: 5px;
    position: relative;
    width: 80%;
    height: 50px;
    color: $white;

    &:after {

      width: 0;
      height: 0;
      content: '';
      border-style: solid;
      border-width: 25px 0 25px 25px;
      border-color: transparent transparent transparent $blue;
      position: absolute;
      right: -25px;
      top: 50%;
      margin-top: -25px;
    }
  }

}