.hero {
  background-color: $blue;

  .container {
    position: relative;
    min-height: 300px;

  }

  .heroText {
    position: absolute;
    left: 0;
    bottom: -20px;
    @include rem(padding, 10px);
    @include rem(height, 40px);
    @include rem(font-size, 1.5rem);
    text-transform: uppercase;
    background-color: rgba(28,41,95,0.7);
    color: $white;
    @include rem(max-width, 600px);

    @media #{$mediaMobile} {
      left: 50%;
      top: 0;
      @include rem(margin-left, -170px);
    }

    @media #{$mediaMobileLandscape} {
      left: 0;
      top: 0;

    }
  }

  .leadCapture {
    position: absolute;
    right: 0;
    bottom: -125px;
    @include rem(padding, 10px);
    @include rem(max-width, 300px);
    @include rem(min-height, 250px);
    background-color: rgba(28,41,95,0.7);
    color: $white;

    @media #{$mediaMobile} {
      left: 50%;
      @include rem(margin-left, -150px);
    }

    @media #{$mediaMobileLandscape} {

    }

    h3 {
      font-size: 24px;
      margin-bottom: 18px;
      text-transform: uppercase;
    }

    .trackingForm {
      @include border-box-sizing;

      input {
        width: 100%;
        border: 1px solid $green;
        padding: 10px 10px;
        border-radius: 1px;
        color: #000;

        margin-bottom: 20px;
      }

      .error {

        color: $red;
      }

      button {
        min-width: 200px;
        width: 100%;

        @media #{$mediaMobile} {

          width: 100%;
          @include border-box-sizing;

        }
      }

    }

  }
}

.heroMain {
  background-image: url("#{$imagePath}/cargo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.homeMain {

  @include rem(margin-top, 50px);

  @media #{$mediaMobile} {
    @include rem(margin-top, 150px);

  }

  h1 {
    font-family: $fontHighlight;
    @include rem(font-size, 1.6rem);
    @include rem(max-width, 500px);
    text-transform: capitalize;

    @media #{$mediaMobileLandscape} {
      @include rem(max-width, 250px);

    }
  }

  em {
    color: $green;
    @include rem(font-size, 1.2rem);
    font-style: italic;
  }

  h2 {
    font-family: $fontHighlight;
    @include rem(font-size, 1.2rem);
    text-transform: lowercase;
    color: $grey;
  }
}

.homeSection {
  @include susy-clearfix;

  font-family: $fontLight;
  @include rem(font-size, 16px);

  .col {
    @include span(1 of 3);
    @include border-box-sizing;

    @media #{$mediaMobile} {

      @include full;

    }

    .wrapper {
      margin-right: 10px;

      @media #{$mediaMobile} {
        margin-right: 0;
      }

    }

    &:last-child {

      .wrapper {
        margin-right: 0;
      }

    }

  }

  h3 {
    color: $white;
    background-color: $blue;
    @include rem(padding, 10px 10px);
    font-family: $fontFamily;

  }
}

.heroAbout {
  background-color: $blue;
  @include rem(margin-bottom, 50px);

  .container {
    position: relative;
    min-height: 100px;
  }

  @media #{$mediaMobile}{

    .heroText {
      left: 50%;
      top: 75px;
    }
  }


}

.heroServices {
  background-color: $blue;
  @include rem(margin-bottom, 50px);



  .container {
    position: relative;
    min-height: 100px;
  }

  @media #{$mediaMobile}{

    .heroText {
      left: 50%;
      top: 75px;
    }
  }
}

.aboutMain, .servicesMain, .contactPage {

  .col {

    @include span(1 of 3);
    @include border-box-sizing;
    
    
    @media #{$mediaMobile} {
      
      @include full;
      
    }

    &:last-child {

      @include span(2 of 3);
      @include rem(padding-left, 15px);

      @media #{$mediaMobile} {

        @include full;

        padding-left: 0;

      }

    }
  }
}

.servicesMain {

  .servicesMenu {
    list-style: none;
    border: 1px solid $blue;

    i {

      margin-right: 10px;
    }

    li {

      @include rem(padding, 10px 20px);
      text-transform: capitalize;
    }

    li[data-state=open] {
      background-color: $blue;
      color: $white;

      a {
        color: $white;
      }
    }
  }

  .service {
    border: 1px solid $blue;
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
    padding-top: 40px;

    i {

      margin-right: 10px;
    }

    @media #{$mediaMobile} {

      border-top: none;
    }
  }

  .service[data-state=closed] {
    display: none;
  }

  .service[data-state=open]{
    display: block;
  }

  h2 {
    margin: 0;
    background-color: $blue;
    color: $white;
    padding: 10px;
    right: 0;
    top: 0;
    position: absolute;
  }
}

.trackOrder {
  
  table {
    
    thead {

      font-weight: bold;
    }
  }
}


