.faq-list {



  dt {

    color: $white;
    background-color: $blue;
    padding: 10px;
    padding-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;


    i {
      margin-left: 40px;
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -10px;
    }
  }

  dd {

    display: none;


    &.hide {

      display: block;

    }

  }
}

.contentPages {

  a {
    text-decoration: underline;
    color: $green;
  }
}

.termsList {

  list-style: circle;

  li {

    margin: 10px 0 10px 20px;

    list-style-type: circle;
    display: block;
  }
}

input {
  font-size: 1.1em !important;
}

.clear {

  @include susy-clearfix;
}

.contactList {

  @include rem(font-size, 14px);
  @include box-sizing(border-box);

  > * {

    display: inline-block;
    @include box-sizing(border-box);
    margin: 10px 0;
  }

  i {

    margin-right: 10px;
  }

  dt {

    width: 39%;
  }


  dd{

    width: 60%;
  }
}