.navigation {
  @include rem(margin-top, 20px);

  .mobileMenu {
    display: none;
    text-align: right;
    @include susy-clearfix;
    @include rem(font-size, 30px);

    &.active {
      color: $green;
    }

    @media #{$mediaMobile} {
      display: block;

    }
  }

  ul {
    list-style: none;
    float: right;

    @media #{$mediaMobile} {
      max-height: 0;
      @include transition(max-height, 0.5s ease-in-out);
      overflow: hidden;
      width: 100%;

      &.active {
        max-height: 800px;
        width: 100%;

        li {
          margin-right: 0 !important;

          &.current {

            a {
              border-bottom: none;
              background-color: $green;
              color: $white;
            }

          }
        }
      }
    }

    > li {
      font-weight: 900;
    }

    li {
      display: inline-block;
      text-transform: capitalize;
      @include rem(margin-right, 30px);
      position: relative;
      border-bottom: 3px solid $white;

      @media #{$mediaMobile} {
        display: block;
      }

      @media #{$mediaMobileLandscape} {
        @include rem(margin-right, 15px);

      }

      @media #{$mediaMobilePortrait} {

        margin-right: 5px;
      }


      &.current {


        a {
          border-bottom: 3px solid $green;
        }

      }

      a {
        @include rem(padding, 10px 5px);
        display: block;
        border-bottom: 3px solid $white;

      }

      &:hover {
        text-decoration: none;
        border-bottom: 3px solid $green;

        @media #{$mediaMobile} {

          border-bottom: none;
        }

        .dropdown {
          @media #{$mediaTabletDesktop} {
            display: block;

          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

    }
  }

}